*{
    margin: 0;
    padding:0;
}


.heading{
    height:12vh ; 
    width: 100%;
    background-color: rgb(33, 26, 78);
    color:blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.choices{
    display: flex;
    flex-direction: row;
    gap:2.5rem;
    justify-content: center;
    margin-top:7rem;
}

.choice img{
    height: 190px;
    width: 180px;
    opacity: 1;
}

.choice:hover{
    opacity: 0.7;
    cursor:pointer;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    gap:4rem;
}

.scoreBoard{
    display: flex;
    flex-direction: row;
    gap:5rem;

}

#Cplayer{
    height: 40px;
    width: 100px;
    border-right: solid 6px yellow;
    background-color:rgb(33, 26, 78) ;
    align-content: center;
    text-align: center;
    color: blanchedalmond;
    font-size: 1.2rem;
}

#Uplayer{
    height: 40px;
    width:100px;
    border-left: solid 6px red;
    background-color: rgb(33, 26, 78);
    align-content: center;
    text-align: center;
    color:blanchedalmond;
    font-size: 1.2rem;
}

#comp-score, #user-score{
    margin-bottom: 1rem;
    font-size:2rem;
    text-align: center;
}

#mssg{
    font-size: 2rem;
}